<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/calendar.css">
</head>
<body>
    <header class="main-header fullsize-container">
        <ul class="main-nav_list">
            <li class="main-nav_item"><a href="index.html">Главная</a></li>
            <li class="main-nav_item"><a href="about-us.html">О нас</a></li>
            <li class="main-nav_item"><a>Сервис</a></li>
            <li class="main-nav_item"><a href="Project-Archive.html">Проекты</a></li>
            <li class="main-nav_item"><a href="contacts.html">Контакты</a></li>
        </ul>
        <div class="header-content_wrapper">
            <div class="page-t`ype_status">
                <a href="login.html"><img class="page-type_img" src="images/0.png" alt=""></a>
            </div>
            <div class="additional-nav_dropdown">
                <img class="additional-nav_img" src="images/9.png" alt="">
            </div>
        </div>
    </header>
    <main>
        <h2 class="title_section">Декабрь</h2>
        <section>
            <div class="week_block">
                <p>Пн</p>
                <p>Вт</p>
                <p>Ср</p>
                <p>Чт</p>
                <p>Пт</p>
                <p>Сб</p>
                <p>Вс</p>
            </div>
            <div class="calendar_block">
                <table class="table">
                    <tr class="week">
                        <td class="day empty"></td>
                        <td class="day empty"></td>
                        <td class="day empty"></td>
                        <td class="day empty"></td>
                        <td class="day empty"></td>
                        <td class="day empty"></td>
                        <td class="day">1</td>
                    </tr>
                    <tr class="week">
                        <td class="day">2</td>
                        <td class="day">3</td>
                        <td class="day">4</td>
                        <td class="day">5</td>
                        <td class="day red">6</td>
                        <td class="day blue">7</td>
                        <td class="day
                        blue">8</td>
                    </tr>
                    <tr class="week">
                        <td class="day blue">9</td>
                        <td class="day blue">10</td>
                        <td class="day blue">11</td>
                        <td class="day blue">12</td>
                        <td class="day green">13</td>
                        <td class="day yellow">14</td>
                        <td class="day">15</td>
                    </tr>
                    <tr class="week">
                        <td class="day">16</td>
                        <td class="day">17</td>
                        <td class="day">18</td>
                        <td class="day">19</td>
                        <td class="day">20</td>
                        <td class="day">21</td>
                        <td class="day">22</td>
                    </tr>
                    <tr class="week">
                        <td class="day">23</td>
                        <td class="day">24</td>
                        <td class="day">25</td>
                        <td class="day">26</td>
                        <td class="day">27</td>
                        <td class="day">28</td>
                        <td class="day">29</td>
                    </tr>
                    <tr class="week">
                        <td class="day">30</td>
                        <td class="day">31</td>
                        <td class="day empty"></td>
                        <td class="day empty"></td>
                        <td class="day empty"></td>
                        <td class="day empty"></td>
                        <td class="day empty"></td>
                    </tr>
                </table>
            </div>
        </section>
        <section class="event_block" >
            <table class="event-table_block">
                <tr class="event-table_block">
                    <td class="circle_item"><p>заезд участников</p></td>
                    <td class="circle_item"><p>школа</p></td>
                    <td class="circle_item"><p>заезд кураторов</p></td>
                </tr>
                <tr class="event-table_block">
                    <td class="circle_item"><p>выезд учасников</p></td>
                    <td class="circle_item"><p>сдача проектов</p></td>
                    <td class="circle_item"><p>выезд кураторов</p></td>
        </section>
<!--        <section class="destination_block">-->
<!--            <h2>4 Декабря</h2>-->
<!--            <div class="circle_block">-->

<!--            </div>-->

<!--        </section>-->
    </main>

</body>
</html>