<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>Title</title>
</head>
<body>
    <header class="main-header fullsize-container">
        <ul class="main-nav_list">
            <li class="main-nav_item"><a href="#">Главная</a></li>
            <li class="main-nav_item"><a href="#">О нас</a></li>
            <li class="main-nav_item"><a href="#">Сервис</a></li>
            <li class="main-nav_item"><a href="/projects">Проекты</a></li>
            <li class="main-nav_item"><a href="#">Контакты</a></li>

        </ul>
        <div class="header-content_wrapper">
            <div class="page-type_status">
                <a href="/login"><img class="page-type_img" src="images/0.png" alt=""></a>
            </div>
            <div class="additional-nav_dropdown">
                <img class="additional-nav_img" src="images/9.png" alt="">
            </div>
        </div>
    </header>
    <main>
        <section class="title_section fullsize-container">
            <div class="organisation-name">
                <span class="main-title">Общий деловой интерес</span><br>
                <span class="abbreviation_item">Н</span>eзависимой <br>
                <span class="abbreviation_item">А</span>ссоциации <br>
                <span class="abbreviation_item">Д</span>ополнительного <br>
                <span class="abbreviation_item">О</span>бразования
            </div>
        </section>
        <section class="user-nav_section background-container">
            <section class="user-nav_item">
                <img class="user-nav_img" src="images/2.png" alt="картинка форум">
            </section>
            <section class="user-nav_item">
                <img class="user-nav_img" src="images/15.png" alt="картинка галерея">
            </section>
            <section class="user-nav_item">
                <a href="/payment"><img class="user-nav_img" src="images/13.png" alt="картинка оплата"></a>
            </section>
            <section class="user-nav_item">
                <img class="user-nav_img" src="images/14.png" alt="картинка личный кабинет">
            </section>
            <section class="user-nav_item">
                <img class="user-nav_img" src="images/C.png" alt="картинка проекты">
            </section>
        </section>
        <section>
            <div class="background_title"><h3 class="news_title">Новости</h3></div>
            <ul class="long news_background">
                <% rows.forEach(function(row){ %>
                    <li class="news_form news_text"><%= row.title_news %><br><br><%= row.text_member %></li>
                <% });%>
            </ul>
        </section>


    </main>

    <footer
        class="main-footer background-container">
        <section class="logo_block">
            <img src="images/logo-footer.png" alt="">
        </section>
        <section class="footer-links_section">

            <div class="about-assoc_block">
                <h3>Об ассоциации </h3>
                <ul>
                    <li><a href="#">Наши партнёры</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Карта сайта</a></li>
                </ul>
            </div>
            <div class="for-members_block">
                <h3>Участникам</h3>
                <ul>
                    <li><a href="#">Даты заездов</a> </li>
                    <li> <a href="#">Проживание</a> </li>
                    <li> <a href="/payment">Оплачивание</a>    </li>
                    <li><a href="#">Обучение</a></li>

                </ul>
            </div>
            <div class="contacts_block">
                <h3>Контактные</h3>
                <ul>
                    <li>Базайская ул,353 Красноярск</li>
                    <li>svmaslova.ru</li>
                    <li>+7 391 251-10-91, +7 391 251-10-77</li>
                </ul>
            </div>
        </section>
        <section class="socials_section">
            <ul>
                <li> <a href="#">Viber</a></li>
                <li><a href="#">VK</a></li>
                <li><a href="#">Skype</a></li>
                <li><a href="#">Twiter</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </section>
    </footer>
</body>
</html>
