<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <header class="main-header fullsize-container">
        <ul class="main-nav_list">
            <li class="main-nav_item"><a href="/">Главная</a></li>
            <li class="main-nav_item"><a href="#">О нас</a></li>
            <li class="main-nav_item"><a href="#">Сервис</a></li>
            <li class="main-nav_item"><a href="/projects">Проекты</a></li>
            <li class="main-nav_item"><a href="#">Контакты</a></li>

        </ul>
        <div class="header-content_wrapper">
            <div class="page-type_status">
                <a href="/login"><img class="page-type_img" src="images/0.png" alt=""></a>
            </div>
            <div class="additional-nav_dropdown">
                <img class="additional-nav_img" src="images/9.png" alt="">
            </div>
        </div>
    </header>
    <main>
        <section class="form-section">
            <h1>Авторизация</h1>
            <form class="your-login" method="POST">
                <input type="text" name="login" class="placeholder" placeholder="E-mail" autocomplete="off">
                <input type="password" name="password" class="placeholder" placeholder="Пароль">
                <div class="buttons">
                    <input class="login-input" type="submit" value="Войти">
                    <a  class="reg-link" href="/register">Регистрация</a>
                </div>
                <div class="remember_block">


                </div>
                <a class="forgot_item" href="forgot.php"><p>Забыли пароль?</p></a>
            </form>
        </section>


    </main>

    <footer
            class="main-footer background-container">
        <section class="logo_block">
            <img src="images/logo-footer.png" alt="">
        </section>
        <section class="footer-links_section">

            <div class="about-assoc_block">
                <h3>Об ассоциации </h3>
                <ul>
                    <li><a href="#">Наши партнёры</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Карта сайта</a></li>
                </ul>
            </div>
            <div class="for-members_block">
                <h3>Участникам</h3>
                <ul>
                    <li><a href="#">Даты заездов</a> </li>
                    <li> <a href="#">Проживание</a> </li>
                    <li> <a href="#">Оплачивание</a>    </li>
                    <li><a href="#">Обучение</a></li>

                </ul>
            </div>
            <div class="contacts_block">
                <h3>Контактные</h3>
                <ul>
                    <li>Базайская ул,353 Красноярск</li>
                    <li>svmaslova.ru</li>
                    <li>+7 391 251-10-91, +7 391 251-10-77</li>
                </ul>
            </div>
        </section>
        <section class="socials_section">
            <ul>
                <li> <a href="#">Viber</a></li>
                <li><a href="#">VK</a></li>
                <li><a href="#">Skype</a></li>
                <li><a href="#">Twiter</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </section>
    </footer>

</body>
</html>