<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/participants.css">
</head>
<body>
    <header class="main-header fullsize-container">
        <ul class="main-nav_list">
            <li class="main-nav_item"><a href="/">Главная</a></li>
            <li class="main-nav_item"><a href="#">О нас</a></li>
            <li class="main-nav_item"><a href="#">Сервис</a></li>
            <li class="main-nav_item"><a href="/projects">Проекты</a></li>
            <li class="main-nav_item"><a href="#">Контакты</a></li>

        </ul>
        <div class="header-content_wrapper">
            <div class="page-type_status">
                <a href="/login"><img class="page-type_img" src="images/0.png" alt=""></a>
            </div>
            <div class="additional-nav_dropdown">
                <img class="additional-nav_img" src="images/9.png" alt="">
            </div>
        </div>
    </header>
    <main>
        <section class="table">
            <section class="square">
                <div >
                    <div class="margin">
                        <q>
                        Кто-то Какой-то Какоевич <br>
                        Статус:куратор Возраст:хх Образование: Входов на сервер: <br>
                        Сообщений в форуме: Интересных: <br>
                        <br>
                        Телефон:ХХХХХХХХХХХ Факс: <br>
                        Результат теста при подаче анкеты:
                    </q>
                    </div>
                    </div>
                <div class="comment">
                    <h4 class="comment_title">Добавить комментарий:</h4>
                    <form action="" method="POST">
                        <textarea type="text" name="column" class = "column"  autocomplete="off"></textarea>
                    </form>
                    <div class="father_button">
                        <button type="submit" class="top button" > Добавить </button>
                        <button type="submit" class="top button_1" > Написать письмо </button>
                    </div>
                    </div>
            </section>
        </section>
    </main>
        <footer
            class="main-footer background-container">
        <section class="logo_block">
            <img src="images/logo-footer.png" alt="">
        </section>
        <section class="footer-links_section">

            <div class="about-assoc_block">
                <h3>Об ассоциации </h3>
                <ul>
                    <li><a href="#">Наши партнёры</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Карта сайта</a></li>
                </ul>
            </div>
            <div class="for-members_block">
                <h3>Участникам</h3>
                <ul>
                    <li><a href="#">Даты заездов</a> </li>
                    <li> <a href="#">Проживание</a> </li>
                    <li> <a href="#">Оплачивание</a>    </li>
                    <li><a href="#">Обучение</a></li>

                </ul>
            </div>
            <div class="contacts_block">
                <h3>Контактные</h3>
                <ul>
                    <li>Базайская ул,353 Красноярск</li>
                    <li>svmaslova.ru</li>
                    <li>+7 391 251-10-91, +7 391 251-10-77</li>
                </ul>
            </div>
        </section>
        <section class="socials_section">
            <ul>
                <li> <a href="#">Viber</a></li>
                <li><a href="#">VK</a></li>
                <li><a href="#">Skype</a></li>
                <li><a href="#">Twiter</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </section>
    </footer>

</body>
</html>
</body>
</html>