<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/projects.css">
</head>
<body>
     <header class="main-header fullsize-container">
        <ul class="main-nav_list">
            <li class="main-nav_item"><a href="/">Главная</a></li>
            <li class="main-nav_item"><a href="#">О нас</a></li>
            <li class="main-nav_item"><a href="#">Сервис</a></li>
            <li class="main-nav_item"><a href="/projects">Проекты</a></li>
            <li class="main-nav_item"><a href="#">Контакты</a></li>

        </ul>
        <div class="header-content_wrapper">
            <div class="page-type_status">
                <a href="/login"><img class="page-type_img" src="images/0.png" alt=""></a>
            </div>
            <div class="additional-nav_dropdown">
                <img class="additional-nav_img" src="images/9.png" alt="">
            </div>
        </div>
    </header>
    <main>
        <section class="sessions_section fullsize-container"    >
            <div class="session_block">
                <div class="session_block_image">
                    <img src="images/session-img.gif" alt="Картинка КамПус">
                </div>

                <div class="right-wrapper">
                    <div class="session_block_description">
                        <h2>"Фабрика программирования. Путь профессионала"</h2>
                        <p>
                            Дата начала: June-07-2019,Статус: Набор участников <br>
                            Тематика проекта: Интеллектуальный отдых для увлечённых ИКТ и Робототехникой <br>
                            Участники - от 10 до 17 лет. <br>
                            Уровень подготовки - от 0 до продвинутого <br>
                            Сроки проведения лагеря - с 18 июля по 7 августа...
                        </p>
                    </div>
                    <div class="session_block_links">
                        <ul>
                            <li><a href="#">Новости</a></li>
                            <div class="stick_item"></div>
                            <li><a href="#">Подобно об проекте</a></li>
                            <div class="stick_item"></div>
                            <li><a href="#">Подать заявку на участие</a></li>
                            <div class="stick_item"></div>
                            <li><a href="#">Учасники</a></li>
                            <div class="stick_item"></div>
                            <li><a href="#">Примеры проектов</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="sessions_section fullsize-container"    >
            <div class="session_block">
                <div class="session_block_image">
                    <img src="images/session-img.gif" alt="Картинка КамПус">
                </div>

                <div class="right-wrapper">
                    <div class="session_block_description">
                        <h2>"Фабрика програмирования. Путь професионала (II сессия)"</h2>
                        <p>
                            Срок проведения: 13-26 сентября 2019. <br>
                            Срок подачи заявки: до 8 сентября 2019. <br>
                            Место проведения: б/о "КрасЭйр" (г.Красноярск) <br>
                            Возрост: 12-18 лет <br>
                            Формат: профессианальная проба iT-области
                        </p>
                    </div>
                    <div class="session_block_links">
                        <ul>
                            <li><a href="#">Новости</a></li>
                            <div class="stick_item"></div>
                            <li><a href="#">Подобно об проекте</a></li>
                            <div class="stick_item"></div>
                            <li><a href="#">Подать заявку на участие</a></li>
                            <div class="stick_item"></div>
                            <li><a href="#">Учасники</a></li>
                            <div class="stick_item"></div>
                            <li><a href="#">Примеры проектов</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="sessions_section fullsize-container"    >
            <div class="session_block">
                <div class="session_block_image">
                    <img src="images/session-img.gif" alt="Картинка КамПус">
                </div>

                <div class="right-wrapper">
                    <div class="session_block_description">
                        <h2>"Фабрика програмирования. Путь професианала III сессия"</h2>
                        <p>
                            Дата начала: Oct-04-2019, Статус- Активный <br>
                            Срок проведения: 2-15 НОЯБРЯ 2019. <br>
                            Срок подачи заявки: до 24 ОКТЯБРЯ 2019. <br>
                            Место проведения б/о "КрасЭйр" (г.Красноряск) <br>
                            Возрост: 12-18
                        </p>
                    </div>
                    <div class="session_block_links">
                        <ul>
                            <li><a href="#">Новости</a></li>
                            <div class="stick_item"></div>
                            <li><a href="#">Подобно об проекте</a></li>
                            <div class="stick_item"></div>
                            <li><a href="#">Подать заявку на участие</a></li>
                            <div class="stick_item"></div>
                            <li><a href="#">Учасники</a></li>
                            <div class="stick_item"></div>
                            <li><a href="#">Примеры проектов</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="button-session_block">
            <p><a href="#">Архив проектов</a></p>
        </section>
    </main>
    <footer class="main-footer background-container">
        <section class="logo_block">
            <img src="images/logo-footer.png" alt="">
        </section>
        <section class="footer-links_section">

            <div class="about-assoc_block">
                <h3>Об ассоциации </h3>
                <ul>
                    <li><a href="#">Наши партнёры</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Карта сайта</a></li>
                </ul>
            </div>
            <div class="for-members_block">
                <h3>Участникам</h3>
                <ul>
                    <li><a href="#">Даты заездов</a> </li>
                    <li> <a href="#">Проживание</a> </li>
                    <li> <a href="/payment">Оплачивание</a>    </li>
                    <li><a href="#">Обучение</a></li>

                </ul>
            </div>
            <div class="contacts_block">
                <h3>Контактные</h3>
                <ul>
                    <li>Базайская ул,353 Красноярск</li>
                    <li>svmaslova.ru</li>
                    <li>+7 391 251-10-91, +7 391 251-10-77</li>
                </ul>
            </div>
        </section>
        <section class="socials_section">
            <ul>
                <li> <a href="#">Viber</a></li>
                <li><a href="#">VK</a></li>
                <li><a href="#">Skype</a></li>
                <li><a href="#">Twiter</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </section>
    </footer>

</body>
</html>