.contacts-title_section{
    display: flex;
    height: 700px;
}

.contacts-title_section h1 {
    margin-left: auto;
    margin-top: 270px;
    margin-right: 80px;

    color: white;
    font-size: 100px;
    line-height: 40px;
}
